html, #root{
  background-color: grey;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  direction: rtl;
}

.rtl{
  direction: rtl;
}

.ltr{
  direction: ltr;
}

*{
  transition-duration: 0.2s;
}

.min-vh-25{
  min-height: 25vh;
}
.min-vh-50{
  min-height: 50vh;
}
.min-vh-75{
  min-height: 75vh;
}
.min-vw-50{
  min-width: 50vw;
}
.min-vw-75{
  min-width: 75vw;
}
.min-vw-90{
  min-width: 90vw;
}
.min-w-350px{
  min-width: 350px;
}
.w-30{
  width: 30%;
}

.form-floating.custom-class>label {
  top: 0;
  right: 0;
  transform-origin: 100% 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
.form-floating.custom-class>.form-control-plaintext~label, .form-floating.custom-class>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: .65;
  transform: scale(.85) translateY(-0.5rem) translateX(-0.15rem);
}