.list_root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.coupun_container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.coupun_entry{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0px;
  width: 100%;
}
.coupun_entry:hover{
  border-bottom: 5px solid black;
}

.ui_btn{
  color: black;
  direction: rtl;
  text-decoration: none;
  padding: 5px 10px;
  margin: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: white;
  border-bottom: 1px solid black;
}
.ui_btn:hover{
  background-color: grey;
  border-bottom: 5px solid black;
}